<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key=",w" value="When" />
    <add key=",int" value="integer" />
    <add key=",I" value="Intelligence" />
    <add key=",can" value="in*8te{^}{)}igence" />
    <add key=",test" value="Hello two" />
  </appSettings>
</configuration>