<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key=",t" value="text" />
    <add key=",w" value="fixit4me" />
    <add key=",int" value="intelligence" />
    <add key=",I" value="Intelligence" />
    <add key=",can" value="in*8te{^}{)}igence" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>